.Posts {
    margin: 50px 100px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0.1);
  }
  .Posts h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(218, 146, 52);
  }
  .Loading{
    align-items: center;
    font-size: larger;
  }
  .News{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
