.sidebar {
  position: fixed; 
  top: 0; 
  right: 0; 
  /* width: 20px;  */
  height: 100vh; 
  background-color: #f0f0f0;
  padding: 2px;
}

.sidebar .logo img {
  width: 50px; /* Adjust width as desired */
  height: auto;  /* Maintain aspect ratio */
  margin: 150px 20px 52px 20px;
  
}


.sidebar ul {
  list-style: none; 
  padding: 20px; 
}

.sidebar li {
  margin-bottom: 80px;
  
}

.sidebar a {
  color: #333; 
  text-decoration: none; 
  font-weight: bold;
  font-size: xxx-large;
}

.sidebar a:hover {
  color: #000; /* Change link color on hover */
}
